<%- include('header'); -%>

<div class="curs-happy container my-5">

    <a href="#" class="intro-banner-vdo-play-btn pinkBg" target="_blank">
      <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
      <span class="ripple pinkBg"></span>
      <span class="ripple pinkBg"></span>
      <span class="ripple pinkBg"></span>
      </a>
    
    <div>
      <img src="rs/public/images/theelijahapp.png" alt="EDB"> 
    </div>
    <h1 class="fjalla shadow-filt">Welcome to TEP</h1>
    <div class="col-lg-8 px-0">
        <p class="fs-5">This app will change frequently as it grows. Thanks for helping test it.</p>
    </div>
    <div>    
      <a href="https://getbootstrap.com" class="btn btn-primary">Read the TEP docs</a>
      <a href="https://github.com/twbs/examples" class="btn btn-secondary">Get Started</a>
    </div>
  </div>


<%- include('footer'); -%>



